@layout("layouts/app")

@section("title")
    Entrar no Agente
@endsection

@section("content")

@include("partials/navbar-guest")

<div class="unix-login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="login-content card">
                    <div class="p-md-4">
                        <h3 class="text-center f-w-700 mb-4">Entrar no Agente</h3>
                        
                        <form method="POST" action="{{ route('loginUser') }}">
                            {{ csrfField() }}
                            <div class="form-group">
                                <label>Endereço de email</label>
                                <input type="email" class="form-control" placeholder="Informe um email válido" name="email" value="{{ old('email', '')}}">
                                @if(hasErrorFor("email"))
                                    <small class="animated fadeInDown text-danger">{{ getErrorFor("email")}}</small>
                                @endif
                            </div>
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="password" class="form-control" placeholder="Insira uma senha segura" name="password">
                                @if(hasErrorFor("password"))
                                    <small class="animated fadeInDown text-danger">{{ getErrorFor("password")}}</small>
                                @endif
                            </div>
                            <div class="checkbox">
                                <label>
                                <input type="checkbox" name="remember"> Permanecer conectado?
                            </label>
                            </div>
                            <p>
                                @if(flashMessage('error'))
                                    <small class="animated fadeInDown text-danger">{{ flashMessage('error') }}</small>
                                @endif
                            </p>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Entrar</button>
                            <div class="register-link m-t-15 text-center">
                                <p>Ainda não possui uma conta ? <a href="/registrar"> Registrar-se</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@endsection

