<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>
    @section("title")
        Agente | Valorizando seu talento
    @endsection
    </title>
    {{ css("css/lib/toastr/toastr.min.css") }}
    {{ css("/css/lib/bootstrap/bootstrap.min.css") }}
    {{ css("/css/helper.css") }}
    {{ css("/css/style.css") }}

    @!section("c-styles")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body class="fix-header">
    <div class="preloader" style="display: none;">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle> </svg>
    </div>

    <div id="main-wrapper">
        @!section("content")
    </div>

    {{ script("js/lib/jquery/jquery.min.js") }}
    {{ script("js/lib/bootstrap/js/popper.min.js") }}
    {{ script("js/lib/bootstrap/js/bootstrap.min.js") }}
    {{ script("js/jquery.slimscroll.js") }}
    {{ script("js/sidebarmenu.js") }}
    {{ script("js/lib/sticky-kit-master/dist/sticky-kit.min.js") }}

    {{ script("js/lib/toastr/toastr.min.js") }}

    @!section("c-scripts")

</body>
</html>